body {
  margin: 0;
}

.navbar{
  /*float:right;*/
  background-color: #212121;
  text-align: right;

}

.dropbtn {
  /*background-color: #04AA6D;*/
  /*color: white;*/
  padding: 16px;
  font-size: 16px;
  border: none;

   
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}
.dropbtn a {
  color: white;
  text-decoration: none;

}
.dropbtn a:hover{color:orange; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #4d423d; color: orange;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: salmon;}
.facebook-link{
  display: inline-block;
}

.logo {
  padding-right: 100px;
  margin-right: 100px;
  margin-top: 16px;
  display: inline-block;
  float: left;
  color: white;

}

.icon-list-element {
  text-decoration: none;
  display: inline-block;
  /*float: right;*/
}

.icon-list-element img{
  width: 40px;
  height: 25px;
  border-radius: 10px;

}

.icon-list-items {
  display: inline-block;
}

.navbar-btn {
  display: inline-block;
}

.logo-title{
  float: left;
  text-align: left;
}

.logo img{
  float: left;
  width: 100px;
  height: 50px;

}